### JetBrains template

# IntelliJ

.idea/*
!.idea/codeStyles/
!.idea/inspectionProfiles/
!.idea/encodings.xml

*.iml

out/

# AI
/.junie
/.output.txt

### Gradle template
.gradle
build/

### Gradle Profiler
gradle-user-home/
profile-out*/

### Kotlin
.kotlin

### KotlinTest
.kotlintest/

### KotlinDL
cache/
