config:
  validation: true
  warningsAsErrors: true
  checkExhaustiveness: false
  # when writing own rules with new properties,
  # exclude the property path e.g.: 'my_rule_set,.*>.*>[my_property]'
  excludes: [ ]

processors:
  active: true
  exclude:
    - 'DetektProgressListener'

console-reports:
  active: true
  exclude:
    - 'ProjectStatisticsReport'
    - 'ComplexityReport'
    - 'NotificationReport'
    #- 'FindingsReport'
    - 'FileBasedFindingsReport'

junit:
  active: true
  InvalidTestFactoryReturnType:
    active: true
